
@{
    ViewBag.Title = "CreateChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Kategori Update</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Şefi Düzenle</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            <br />
                            <label>İsim</label>

                            <input type="text" class="form-control" name="Name"  placeholder="Type a Chef name">
                            <br />
                            <label>Ünvan</label>
                            <input type="text" class="form-control" name="Title"  placeholder="Type a Chef title">
                            <br />
                            <label>Resim Url</label>
                            <input type="text" class="form-control" name="ImageUrl"  placeholder="Type a Chef Image">
                        </div>

                        <button type="submit" class="btn btn-dark">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





