<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Restaurantly</h3>
                        <p>
                            İstiklal Caddesi No:45 <br>
                            Beyoğlu, İstanbul, Türkiye<br><br>
                            <strong>Telefon:</strong> +90 212 555 55 55<br>
                            <strong>E-posta:</strong> info@restaurantly.com.tr<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Kullanışlı Bağlantılar</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ana Sayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hizmetlerimiz</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hizmet Şartları</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Hizmetlerimiz</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Tasarımı</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Geliştirme</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ürün Yönetimi</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Pazarlama</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Grafik Tasarım</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Bültenimize Abone Olun</h4>
                    <p>En son gelişmeler ve fırsatlar için bültenimize abone olun!</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Abone Ol">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Telif Hakkı <strong><span>Restaurantly</span></strong>. Tüm Hakları Saklıdır
        </div>
        <div class="credits">
            <!-- Footer’daki tüm bağlantılar bozulmadan kalmalıdır. -->
            <!-- Bağlantıları sadece pro sürümünü satın aldıysanız silebilirsiniz. -->
            <!-- Lisans bilgileri: https://bootstrapmade.com/license/ -->
            <!-- PHP/AJAX iletişim formu çalıştıran pro sürümünü satın almak için: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
            Tasarımcı: <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>
