<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Dashboard" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Category/CategoryList" aria-expanded="false">
                    <i class="icon-list menu-icon"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Product/ProductList" aria-expanded="false">
                    <i class="icon-basket menu-icon"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/About/Index" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/Statistics/Index" aria-expanded="false">
                    <i class="icon-chart menu-icon"></i><span class="nav-text">İstatistikler</span>
                </a>
            </li>
            <li>
                <a href="/Chef/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Şefler</span>
                </a>
            </li>
            <li>
                <a href="/Event/Index" aria-expanded="false">
                    <i class="icon-umbrella menu-icon"></i><span class="nav-text">Etkinlikler</span>
                </a>
            </li>
            <li>
                <a href="/Gallery/Index" aria-expanded="false">
                    <i class="icon-picture menu-icon"></i><span class="nav-text">Galeri</span>
                </a>
            </li>
            <li>
                <a href="/Reservation/Index" aria-expanded="false">
                    <i class="icon-calender menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li>
                <a href="/Adress/Index" aria-expanded="false">
                    <i class="icon-location-pin menu-icon"></i><span class="nav-text">Adres</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index" aria-expanded="false">
                    <i class="icon-anchor menu-icon"></i><span class="nav-text">Testimonial</span>
                </a>
            </li>
            <li>
                <a href="/Feature/Index" aria-expanded="false">
                    <i class="icon-star menu-icon"></i><span class="nav-text">Feature</span>
                </a>
            </li>
            <li>
                <a href="/Special/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Spesiyeller</span>
                </a>
            </li>
            <li>
                <a href="/Contact/Index" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("LogOut", "Login")" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i><span class="nav-text" style="color:red;">Çıkış yap</span>
                </a>
            </li>

        </ul>
    </div>
</div>
